
/* menu::base */
div#menu {
    height:41px;
    background:url(images/tab-bg.png) repeat-x;
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    padding-left: 30px;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 1px 0 0;
    display: block;
    float: left;
}
div#menu li:hover>ul {
    left: -2px;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;
    float: left;
    line-height: 41px;
    text-decoration: none;
    font: bold 12px Arial;
}
div#menu a:hover, div#menu a:hover span { color: #000; }
div#menu a:hover { color: rgb(0,0,0); }
div#menu li.current a {}



div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(images/item-pointer.gif);
}
div#menu ul ul a.parent:hover span {
    background-image: url(images/item-pointer-mover.gif);
}
div#menu ul ul li{
	width:100%;
	text-align:left;
	background:url(images/tab-bg.png) repeat-x;
}
div#menu ul ul li :hover{
	width:100%;
	text-align:left;
	background:url(images/bg_white.png) repeat-x; 
	border-top:1px solid #21c5d8;
}
/* menu::level1 */
div#menu a {
    padding: 0 20px 0 10px;
    line-height: 30px;
    color: #000;
}
div#menu span {
    margin-top: 1px;
	color: #000;
}
div#menu ul a:hover span {
color: #333;
}
div#menu ul ul span {
color: #000;
width:100%;
}
div#menu ul ul a:hover span {
color: #000;
}


div#menu li { background: 98% 4px no-repeat;height:31px; }
div#menu li.last { background: none; }

/* menu::level2 */

div#menu ul ul {
    position: absolute;
    top: 27px;
    left: -999em;
    width: 220px;
    padding: 1px 0 0 0;
    background: #F7F7F7;
	border-top:2px solid #fff;
	border-left:2px solid #fff;
	border-right:2px solid #21c5d8;
	border-bottom:2px solid #21c5d8;
    margin-top:1px;
}
div#menu ul ul a {
    padding: 3px 0 0 5px;
    height: auto;
    float: left;
    display: block;
    line-height: 24px;
    color: #000;
}
div#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color: #000;
}
div#menu ul ul a:hover span {
    color: #000;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: -30px 0 0 163px !important;
    margin-left:210px;
}

/* colors */
div#menu ul ul { background: #F7F7F7;}
div#menu ul ul ul { background: #F7F7F7;}
div#menu ul ul ul ul { background: #F7F7F7;}

/* lava lamp */
div#menu li.back {
    background: url(images/lava.png) no-repeat right -44px !important;
    background-image: url(images/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu li.back .left {
    background: url(images/lava.png) no-repeat top left !important;
    background-image: url(images/lava.gif);
    height: 44px;
    margin-right: 8px;
}

